.navbar {
  width: 100%;
  padding: 1.5rem 0;
  box-sizing: border-box;
  margin-bottom: 5rem;
}

.navbar ul {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: flex-end;
}

.navbar .logo {
  font-weight: bold;
  color: var(--heading-color);
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  margin-right: auto;
}

.navbar .logo .icon {
  margin-right: 0.5rem;
  filter: invert(25%);
  font-size: 2rem;
  margin-top: 0.25rem;
}

.navbar a {
  color: #333;
  margin-right: 1.25rem;
}

.navbar ul li:last-child a {
  margin-right: 0;
}

@media (max-width: 480px) {
  .navbar {
    padding: 0.5rem 0;
  }

  .navbar .logo .icon {
    margin-right: 0.25rem;
    font-size: 1.2rem;
  }

  .navbar ul {
    display: flex;
    justify-content: space-between;
  }

  .navbar a {
    margin-right: 0.5rem;
    font-size: 1rem;
  }
}
