:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --heading-color: #444;
  --text-color: #999;
  --primary-color: #111;
  --highlight-color: #d13267;
  --bg-color: #f4f4f4;
}

body {
  font-size: 1.1rem;
  background: var(--bg-color);
  min-width: 280px;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

*::-webkit-scrollbar {
  display: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.page-title {
  font-size: 1rem;
  color: var(--heading-color);
  display: inline-block;
}

button {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn {
  background: #fff;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  color: var(--primary-color);
  font-size: 1rem;
  border: 1px solid var(--primary-color);
}

.btn:hover {
  background-color: var(--primary-color);
  color: #fff;
  transform: scale(1.1);
}

label {
  display: block;
  margin: 1.5rem auto;
}

input,
textarea {
  padding: 0.5rem 0.4rem;
  font-size: 1rem;
  color: #777;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: 0;
}

input:focus,
textarea:focus {
  border: 2px solid var(--primary-color);
}

textarea {
  min-height: 10rem;
}

.error {
  color: red;
  background-color: pink;
  border: 1px solid red;
  border-radius: 4px;
  padding: 8px;
  margin: 0.6rem 0;
}
